.transactionHistory {
  border-collapse: collapse;
  width: 900px;
}

.transactionHistory tr {
  height: 20px;
}

.transactionHistory th {
  width: 300px;
}

.transactionHistory th,
.transactionHistory td {
  padding: 10px;
  border-left: 1px solid #eeeeee;
  border-right: 1px solid #eeeeee;
}

.transactionHistory th {
  text-transform: uppercase;
  background-color: lightblue;
  color: white;
}

.transactionHistory td {
  text-transform: capitalize;
  text-align: center;
  background-color: white;
  color: gray;
}

.firstColum {
  text-align: left;
  padding-left: 136px;
}
